<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="SDProject.Properties.Settings.ClassRoomConnectionString"
            connectionString="Data Source=AABIR\SQLEXPRESS;Initial Catalog=ClassRoom;Integrated Security=True;Pooling=False"
            providerName="System.Data.SqlClient" />
        <add name="SDProject.Properties.Settings.ClassRoomConnectionString1"
            connectionString="Data Source=.\SQLEXPRESS;AttachDbFilename=|DataDirectory|\ClassRoom.mdf;Integrated Security=True;Connect Timeout=30;User Instance=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
</configuration>